/* Global styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  min-width: 460px;
}
h1{
  font-family: 'Open Sans',sans-serif;
  color: rgb(56, 92, 89);
  font-size: 3rem;
  
}
h2{
  font-size: 2rem;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  color: white;
  text-align: center;
}
h3{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #4fa294;
  font-weight: bold;
  font-size: 1.3rem;
  /* text-transform: uppercase */
}
h4{
  font-family: 'Roboto Slab', sans-serif;
  color: #4fa294;
  font-weight: bold;
  font-size: 1.2rem;
}
span{
  /* font-family:'Alegreya Sans SC', sans-serif; */
  /* font-family: 'Ubuntu Condensed', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  font-size: 20px;
  color: rgb(56, 92, 89);
}
p{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
}
a{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
}
button.btn{
  border: 1px solid #4fa294;
  border-radius: 2rem;
  padding: 1rem 3rem;
font-size: 1rem;
transition: all 0.6s ease;
cursor: pointer;
}



/* styles for header  */
nav {
  display: flex;
  justify-content: space-around;
  background-color:white;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  min-height: 8vh;
  align-items: center;
  z-index: 2;
}
.menu{
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  width: 60%;
}
.menu a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.logo{
  width: 200px;
  height: 75px;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: #4fa294;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger{
  display: none;
  cursor: pointer;
}

/* styles for header  */



/* styles for about section */
.about{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  transition: all 0.8s ease-in-out;
}
.about__item{
  width: 45%;
  display:block;
  float: left;
  padding: 15px;
}

.about__item__icon img{
  width: 60px;
  display:block;
  float: left
}
.about__item__text{
  margin-left: 80px;
}
.about__title{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.about__title h2{
  color:#4fa294;
}
.about-container{
  /* height: 100vh; */
}

/* styles for sale section */
.sale-container{
  background-color: white;
  /* height: 100vh; */
}
.sale__item{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.sale__text button{
  text-align: center;
  /* margin-left: 25%; */
  background-color: #4fa294;
  border: 1px solid #4fa294;
  transition: all 0.6s ease;

}
.sale__text button:hover{
  background: transparent;
  border: 1px solid black;
  color: black;
  transition: all 0.6s ease;
}
.sale__image{
  width: 50%;
  height: 100%;
}
#alco{
  float: right;
}
.sale__text__main span b{
  text-align: center;
}
.sale__image img{
  width: 100%;
  height: 100%;
}
.sale__image .sale__text__main{
  display: none;
}
.sale__image button{
  display:none;
}

.sale__text{
  width: 50%;
  margin: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale__text h2 {
  font-size: 2rem;
  /* font-family: sans-serif; */
  color: #4fa294;
  text-align: center;
  
}
/* styles for team section */
.team-container{
  /* height: 100vh; */
  background-color: white;

}
.team-container h2{
  font-size: 2rem;
  /* font-family: sans-serif; */
  color: #4fa294;
  text-align: center;
  margin: 100px 0;
}
.team{
  display:flex;
  flex-flow: row;
  align-items:center;
  justify-content: space-between;
}

.team__item__about span{
/*     
  position: absolute; */
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
  /* width: 20%; */
 
 
}
.team__item__about{
  position: absolute;
  z-index:2;
  background-color: white;
  opacity: 0;
  top:0;
  left:0;
  height: 100%;
  transition: all .5s ease;
  text-align: center;
  /* width: 100%;
  height:100%; */
}
.team__item__image:hover .team__item__about{
  opacity: 0.6;
}

.team__item__image img{
  width: 100%;
  z-index:1
}
.team__item__text span{
  text-align: center;
  text-transform: uppercase;
  color:  #4fa294;
  font-size: 1.5rem;
  margin: 40%;
}
.team__item__image{
  position: relative;
}

.team__item{
  width: 25%;
  padding: 25px;
}


/* styles for timetable */
.gallery-highlight{
  width: 100%;
  /* height: 50%; */
}
.timetable-container{
  display: flex;
  height: auto
}
.timetable-description{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #e2d2c0;
padding: 50px
}
.timetable-description h2{
  padding-bottom: 50px;
}

#online__btn{
  border: 1px solid#e2d2c0;
  margin-top: 30px;
  
}

#online__btn:hover{
  background: transparent;
  border: 1px solid white;
  color: white;
}
.timetable-gallery{
width:50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.image-preview{
  display:flex;
  width: 100%;
  border: 2px solid #e2d2c0

}
.image-preview img{
  height: 100px;
  flex-grow: 1;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

img.timetable-active{
  opacity: 1;
}
/* styles for online */
.online-container{
  padding-top: 70px;
  height: auto;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.online__text{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.online__text h2{
  padding-bottom: 50px;
  color:  #4fa294;
}
.online__text h3{
  padding-bottom: 30px;
}
.online__text span{
  padding-bottom: 30px;
}
.online__content{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  height: auto;
}
.online__content__item{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%
}
.online__content__item img{
  width:100%
}
.online_prices{
  border: 1px solid #4fa294;
  border-radius: 20px;
  display:none;
  padding: 5px;
}
.online__content__item:nth-child(2){
  padding: 0 30px;
}
.online__prices__text{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%
}
.online__prices__text span:nth-child(3){
  width: 20%
}
.online__prices__text span:nth-child(2){
  width: 20%
}
.online__prices__text span:nth-child(1){
  width: 60%
}
.online__prices__text span{
  font-family: 'Ubuntu Condensed', sans-serif;
}
button.btn__online__price{
  border: 1px solid #4fa294;
  background-color: #4fa294;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: all 0.6s ease;
  cursor: pointer;
  color:white;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 20px 0 ;
}
button.btn__online__price:hover{
  background-color: #4fa294;
  border: 1px solid #4fa294;
  transition: all 0.6s ease;
}
/* styles for online */
/* styles for prices  */

.price{
  margin-bottom: 100px;
}

.price-container{
  background-color: #4fa294;
  padding-top: 70px;
  height: auto;
}
.price__text{
    margin-bottom: 100px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.price__item{
  min-width: 25%;
  height: 250px;
  border-color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.30);
  position: relative;
}
.price__item__front{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  position: absolute;
  width: 100%;
}

.price__item__back{
   display:none;
   margin: 0 30px 10px 30px;

}
.price__item__back span{
  font-size: 1rem; 
}
.price__more h2{
  color: #4fa294;
}
.price__more__content{
  display:flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  width: 60%;
  margin: 20px;
  transition: all 0.6s ease;
}
#prices{
  width: 30%;
}
.price__more-container{
  display:flex;
  flex-direction: row;
  width:100%;
  transition: all 0.6s ease;
}
#price__more{
  display:none;
}
.price__more{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 70vh; */
  background-color: white;
  transition: all 0.6s ease;
  margin: 20px;
}

.price__item button{
  background-color: #4fa294;
  border: 1px solid #4fa294;
  transition: all 0.6s ease;

}
.price__button{
  display:flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  transition: all 0.6s ease;
  background-color: #4fa294;
}
.price__item__front button:hover{
  background: transparent;
  border: 1px solid #4fa294;
  color: #4fa294;
  transition: all 0.6s ease;
}
#price__button:hover{
  background: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.6s ease;
}
#price__button:hover span{
  background: transparent;
  color: white;
  transition: all 0.6s ease;
}

/* styles for prices  */
.map{
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.map h2{
  color:#4fa294;
  padding-bottom: 50px;
}

.advantages-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto
}
.advantages__content{
  display:flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.advantages__content__item{
  width: 30%;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid black; */
  /* height: 45vh; */
  padding: 30px;
}
.advantages__content__item__header{
  display:flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}
.advantages__content__item__header__icon{
  width: 30%;
}
.advantages__content__item__header h4{
  width: 70%;
}
.advantages__text h2{
  color: #4fa294;
  padding: 30px 0 60px 0;
}
.advantages__info{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  /* height: 10vh; */
  background-color: #88b9b1;
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  padding:5px;
}
.links{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 22.4px;
}

@media screen and (max-width: 1024px) {
  .menu{
      display:flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding-inline-start: 0px;
      width: 70%;
      z-index:2;
  }
}
@media screen and (max-width: 950px){
  .team{
      display:flex;
      flex-flow: row wrap;
      height: auto;
      width: 100%;
  }
  .team-container{
      height: auto;
  }
  .team__item{
      width: 50%;
  }
  .team-container h2{
      margin: 60px 0;
  }
  .sale__item{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      padding: 50px;
  }
  /* .team__item__image:hover .team__item__about{
      opacity: 0;
  } */
  .sale__image{
      width: 100%;
      order: 1
  }
  .sale__text{
      width: 100%;
  }
  .sale__text .sale__text__main{
      display: none;
  }
  .sale__image .sale__text__main{
      display: block;
      width: 100%;
      margin-top: 30px;
  }
  .sale__text button{
      display:none;
  }
  .sale__image button{
      display:block;
      text-align: center;
      background-color: #4fa294;
      border: 1px solid #4fa294;
      transition: all 0.6s ease;
  }
  .sale__image{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sale__image button:hover{
      background: transparent;
      border: 1px solid black;
      color: black;
      transition: all 0.6s ease;
  }
  .sale__text h1{
      order: 0
  }
  .sale-container{
      height: auto;
  }
  .about-container{
    height: auto;
  
  }
  .team__item__about span{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;

  }
  .team__item__about p {
    font-size: 1rem;
    /* font-family: 'Roboto Slab', serif; */

  }
}
@media screen and (max-width: 768px) and (min-width: 480px){
  body{
      overflow-x: hidden;
  }
  .menu{
      position: absolute;
      right: 0px;
      height: 72vh;
      top:  75px;
      display:flex;
      align-items: center;
      flex-direction: column;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      background-color: white;
      z-index: 2;
      opacity: 0.6;
  }

  .menu li{
      opacity:0;
  }
  .burger{
      display:block;
  }
  .price{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .price__item{
      width: 80%;
      margin: 20px 0;
  }
  .price-container{
      height: auto;
  }
  
  .price {
      margin-bottom: 0px;
  }
  .about-container{
      height: auto;
    
  }
  .about{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
  margin: 10px 50px 0 50px;
  height: auto;
  }
  .about__item{
      width: 100%;
      display:block;
      float: left;
      padding: 15px;
  }
  .about__title{
      padding-top: 50px
  }
  .sale__item{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      padding: 50px;
  }
  .sale__image{
      width: 100%;
      order: 1
  }
  .sale__text{
      width: 100%;
  }
  .sale__text .sale__text__main{
      display: none;
  }
  .sale__image .sale__text__main{
      display: block;
      width: 100%;
      margin-top: 30px;
  }
  .sale__text button{
      display:none;
  }
  .sale__image button{
      display:block;
      text-align: center;
      background-color: #4fa294;
      border: 1px solid #4fa294;
      transition: all 0.6s ease;
  }
  .sale__image button:hover{
      background: transparent;
      border: 1px solid black;
      color: black;
      transition: all 0.6s ease;
  }
  .sale__text h1{
      order: 0
  }
  .sale-container{
      height: auto;
  }
  .team__item__about span{
      font-size: 1rem;
      font-family: 'Roboto Slab', serif;

    }
    .team__item__about p {
      font-size: 0.7rem;
      /* font-family: 'Roboto Slab', serif; */

    }
    
  /* .team{
      display:flex;
      flex-flow: row wrap;
      height: auto;
      width: auto;
  }
  .team-container{
      height: auto;
  }
  .team__item{
      width: 50%;
  }
  .team-container h2{
      margin: 60px 0;
  } */
  .price__more__content{
      display:flex;
      flex-direction: column;
      align-items: space-around;
      justify-content: space-around;
      width: 90%;
      margin: 20px;
  }
  #prices{
      width: 90%;
  }
  .price__more-container{
      display:flex;
      flex-direction: column;
      width:100%;
      height:auto;
  }
  
.price__item__back{
  display:none;
  margin: 0 70px 20px 70px;

}
.price__item__back span{
 font-size: 1.2rem; 
}
.price__more{
  height:auto;
}
.timetable-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2d2c0;
  /* height: 50vh; */
  }
  .timetable-gallery{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .image-preview{
      display:flex;
      width: 100%;
      border: 2px solid #e2d2c0
  
  }
  .timetable-container{
      display: flex;
      flex-direction: column;
      height: auto
  }
  /* .online__content__item{
      width: 45%
  } */
  .online__content__item{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 100%; */
    width: 60%
    /* height: */
  }
  .online__content__item:nth-child(2){
    width: 90%;
    padding: 0;
  }
  .online__content__item:nth-child(1){
    height: 0;
  }
  .online__content__item img{
    height: 0;
  }
  .online_prices{
    border: 1px solid #4fa294;
    border-radius: 20px;
    display:none;
    padding: 5px;
    margin-bottom: 20px;
  }
  .advantages__content__item{
    width: 45%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
    height: 45vh;
    /* padding: 30px; */
  }

}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity:0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


.wrapper, .form, .form__container, .form__title, .form__inputs, .form__buttons {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper__bg, .form__blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form__blur {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }


img {
  max-width: 100%;
  max-height: 100%;
  border-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  background: transparent;
  display: block; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-bold.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-medium.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-light.woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'bernier';
  src: url("../fonts/bernier-regular.woff");
  font-weight: 300;
  font-style: normal; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  cursor: default;
  line-height: 1.42; }
  @media (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  background: #fff;
  overflow-x: hidden; }

input {
  -webkit-border-radius: 0;
  border-radius: 0; }

button {
  margin: 0; }

.body {
  overflow-x: hidden; }

.wrapper {
  width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
padding: 150px 0; }
  

.container {
  width: 100%;
  height: 100%; }

.wrapper {
  flex-direction: column;
  position: relative;
  width: 100vw;
  }
  .wrapper__bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden; }
    .wrapper__bg-img {
      min-width: 100%;
      min-height: 100%;
      max-width: initial;
      max-height: initial; }

.form {
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .form__container {
    padding: 45px 20px 20px 20px;
    flex-direction: column;
    display:flex;
    align-items: space-around;
    justify-content: space-around; }
    @media (max-width: 1024px) {
      .form__container {
        padding: 30px 20px 20px 20px; } }
    @media (max-width: 480px) {
      .form__container {
        padding: 20px 18px 24px 18px; } }
  .form__blur {
    background-image: url("../images/bg.jpg");
    filter: blur(10px);
    transform: scale(1.1) translate(-45%, -45%);
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 1638px;
    background-position: -629px -496px; }
  .form__title {
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 25px; }
    @media (max-width: 1024px) {
      .form__title {
        margin-bottom: 5px; } }
    @media (max-width: 480px) {
      .form__title {
        align-items: center; } }
    .form__title-text {
      font-family: 'Ubuntu Condensed', sans-serif;
      font-weight: 300;
      font-size: 35px;
      color: #455a64;
      width: 280px;
      text-align: center; }
      @media (max-width: 1024px) {
        .form__title-text {
          width: 250px;
          font-size: 30px; } }
      @media (max-width: 480px) {
        .form__title-text {
          font-size: 21px;
          width: 175px; } }
    .form__title-line {
      width: 22px;
      height: 5px;
      margin: 20px 4px;
      background: rgba(69, 90, 100, 0.5); }
  .form__inputs {
    flex-direction: column;
    width: 100%;
    z-index: 2; }
    @media (max-width: 480px) {
      .form__inputs {
        width: 262px; } }
  .form__input {
    color: #455a64;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border: 1px solid #455a64;;
    border-radius: 5px;
    padding: 15px 20px;
    /* margin-bottom: 18px; */
    font-size: 14px;
    transition: 0.2s; }
    .form__input:focus {
      border: 1px solid #00bfa5; }
    .form__input:last-child {
      margin-bottom: 0; }
  .form__message {
    resize: none;
    height: 140px; }
  .form__buttons {
    width: 100%;
    align-items: stretch;
    z-index: 2; }
  .form__submit {
    flex: 1;
    padding: 12px 0;
    text-align: center;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    background: #00bfa5;
    border: none;
    border-right: 2px solid #00f2d1;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer; }
    .form__submit:hover {
      background: #009688; }
  .form__clean {
    flex: 1;
    padding: 12px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    background: #00bfa5;
    border: none;
    margin-left: 5px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer; }
    .form__clean:hover {
      background: #009688; }

.social {
  margin-top: 35px;
  display: flex; }
  .social__item {
    margin-right: 20px; }
    .social__item:last-child {
      margin-right: 0; }
  .social__icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    transition: 0.3s;
    stroke-width: 0px; }
    .social__icon:hover {
      fill: #00bfa5; }

/*# sourceMappingURL=style.css.map */
#message{
height: 50px;
}
.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

span.errorMessage {
  opacity:0;
  color: red;
  font-family:  'Ubuntu Condensed', sans-serif;
  font-size: 12px;
  text-align: right;
 }
  
 input.invalid:not(:focus) + span.errorMessage {
  opacity:1;
 }

 .opacity0{
   opacity: 0
 }

/* slider  */

.home{
	height: 100vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	/* max-width: 1170px; */
	/* margin:auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%
}

.home .container{
	 flex-grow: 1;
}
/* .home .caption{
	width:50%;
} */
/* .home .caption h1{
	font-size:42px;
	color:#000000;
	margin:0;
	
} */
.container h1{
  text-align: center;
}
.caption{
  display:flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%
}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}

.home .caption a{
 /* display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none; */
 color:#ffffff;
 border: 1px solid #4fa294;
 border-radius: 2rem;
 padding: 1rem 3rem;
font-size: 1rem;
transition: all 0.6s ease;
cursor: pointer;
background-color: #4fa294;
}

.caption a:hover{
  background: transparent;
  border: 1px solid white;
  color: white;
}


@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 /* background-color: #FF5722; */
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
  background-color: #000000;
  opacity: 0.4;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #000;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
  margin:0 3px;
  opacity: 0.4;
}

.home .indicator div.active{
 background-color: #4fa294;
 opacity: 0.8
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}












